{% extends "AdoptezAnimalsBundle::layout.html.twig" %}

{% block title %}
    Ajout d'une fiche animal {{ parent() }}
{% endblock %}

{% block body %}
    <h3>Formulaire d'ajout d'un animal</h3>

    <div class="add-animal formclass">
        {% include 'AdoptezAnimalsBundle:Advert:form.html.twig' %}
    </div>
{% endblock %}
