{% extends "AdoptezAnimalsBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <ul class="listing">
    {% for advert in adverts %}
        <li><a href="{{ path("adoptez_animals_view", {'id': advert.id}) }}">{{ advert.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}