<!DOCTYPE html>
    <html>
    <head>
        <title>Listing</title>
    </head>
    <body>
    <h1>Listes des {{ animal }} en {{ place }}</h1>

    <ul id="navigation">

    </ul>
    </body>
</html>